// Work with indexes
package {{ .ARPkg }}

import (
	"bytes"
	"context"
	"fmt"
	"log"
	"strings"

	"github.com/Educentr/go-activerecord/v3/pkg/activerecord"
	// ToDo drop arlogger 
	arlogger "github.com/Educentr/go-activerecord/v3/pkg/logger"
	"github.com/Educentr/go-activerecord/v3/pkg/postgres"
{{- range $ind, $imp := .Imports }}
	{{ if ne $imp.ImportName "" }}{{ $imp.ImportName }} {{ end }}"{{ $imp.Path }}"
{{- end }}
)

{{ $pkgName := .ARPkg }}
{{ $serializers := .Serializers -}}
{{ $PublicStructName := .ARPkgTitle -}}
{{ $LinkedObject := .LinkedObject }}
{{ $flags := .Flags }}
{{ $fields := .FieldList }}
{{ $procfields := .ProcOutFieldList }}
{{ $procInLen := len .ProcInFieldList }}
{{ $mutatorLen := len .Mutators }}

{{ $pktype := "" }}
{{ $pklenfld := 1 }}
{{ $pkind := index .Indexes 0 }}
{{ range $num, $ind := .Indexes -}}
{{ $lenfld := len $ind.Fields -}}
	{{ if $ind.Primary }}
		{{ $pktype = $ind.Type }}
		{{ $pklenfld = len $ind.Fields }}
		{{ $pkind = $ind }}
func (obj *{{ $PublicStructName }}) Primary() {{ $ind.Type }} {
		{{ if ne $lenfld 1 }}
	return {{ $ind.Type }}{
			{{- range $_, $fieldNum := $ind.Fields }}
				{{- $ifield := index $fields $fieldNum }}
		{{ $ifield.Name }}: obj.Get{{ $ifield.Name }}(),
			{{- end }}
	}
		{{ else }}
			{{- range $_, $fieldNum := $ind.Fields }}
				{{- $ifield := index $fields $fieldNum }}
	return obj.Get{{ $ifield.Name }}()
			{{- end }}
		{{ end -}}
}

func SelectByPrimary(ctx context.Context, pk {{ $ind.Type }}) (*{{ $PublicStructName }}, error) {
	return {{ $ind.Selector }}(ctx, pk)
}
	{{ end }}
{{ end }}

{{ if .EnableSelectAll }}
func SelectAll(ctx context.Context) ([]*{{ $PublicStructName }}, error) {
	logger := activerecord.Logger()
	ctx = logger.SetLoggerValueToContext(ctx, arlogger.ValueLogPrefix{"select_all": 1})
	metricTimer := activerecord.Metric().Timer("postgres", "{{ $PublicStructName }}")
	metricStatCnt := activerecord.Metric().StatCount("postgres", "{{ $PublicStructName }}")
	metricErrCnt := activerecord.Metric().ErrorCount("postgres", "{{ $PublicStructName }}")

	columnNames := []string{
	{{- range $_, $fstruct := $fields }}
		{{ $packerparam := packerParam $fstruct.Format -}}
		"{{ $fstruct.Name }}",
	{{ end }}
	}

	query, err := postgres.GenerateSelectAll(tableName, columnNames)
	if err != nil {
		metricErrCnt.Inc(ctx, "select_gen", 1)
		logger.Error(ctx, fmt.Sprintf("Error get all from db '%s'", err))

		return nil, err
	}

	metricTimer.Timing(ctx, "select_gen")
	metricStatCnt.Inc(ctx, "select_all", 1)

	return selectRawDB(ctx, query, activerecord.NewLimiter(uint32(postgres.MaxLimit)))
}
{{ end }}

{{ range $num, $ind := .Indexes -}}
	{{ $lenfld := len $ind.Fields -}}
	{{ if ne $lenfld 1 }}
type {{ $ind.Type }} struct {
		{{- range $_, $fieldNum := $ind.Fields }}
			{{- $ifield := index $fields $fieldNum }}
	{{ $rtype := $ifield.Format -}}
	{{ $serlen := len $ifield.Serializer -}}
	{{ if ne $serlen 0 -}}
		{{ $sname := index $ifield.Serializer 0 -}}
		{{ $serializer := index $serializers $sname -}}
		{{ $rtype = $serializer.Type -}}
	{{ end }}
	{{ $ifield.Name }} {{ $rtype -}}
		{{- end }}
}

func (is {{ $ind.Type }}) pack() []any {
	return []any{ 
		{{- range $_, $fieldNum := $ind.Fields }}
			{{- $ifield := index $fields $fieldNum }}
		is.{{ $ifield.Name }},
		{{ end }}
	}
}
	{{ end -}}

var index{{ $ind.Name }} = postgres.Index{
	Fields:       postgres.OrderedFields{
		{{- range $_, $fieldNum := $ind.Fields }}
			{{- $ifield := index $fields $fieldNum }}
			{{- $iifield := index $ind.FieldsMap $ifield.Name }}
		postgres.OrderField{Field: "{{ $ifield.Name }}", Order: {{ indexOrder $iifield }} },
		{{ end }}
	},
	Unique:       {{ $ind.Unique }},
	Condition: []postgres.Condition{
	{{ range $fieldNum, $c := $ind.Conditions }}
		{{- $ifield := index $fields $fieldNum }}
		{Field: "{{ $ifield.Name }}", Values: []any{
		{{ range $_, $v := $c.Value }}
			{{ $packerparam := packerParam $ifield.Format -}}
			{{ $des := $packerparam.StringDeserializer }}
			{{ if ne (len $des) 0 }}
				{{ index $des 0 }}"{{ $v }}"{{ index $des 1 }},
			{{ else }}
				"{{ $v }}",				
			{{ end }}
		{{ end }}
		}},
	{{ end }}
	},
	DefaultLimit:	1000,   // ToDo defaultlimit
}

{{ if $ind.Primary }}
var pk = index{{ $ind.Name }}

func (obj *{{ $PublicStructName }}) PrimaryValues() []any {
	return []any{
	{{- range $_, $fieldNum := $ind.Fields }}
		{{- $ifield := index $fields $fieldNum }}
		obj.Get{{ $ifield.Name  }}(),
	{{ end }}
	}
}
{{ end }}

func {{ $ind.Selector }}s(ctx context.Context, keys []{{ $ind.Type }}{{ if not $ind.Unique }}, limiter activerecord.SelectorLimiter{{ end }}) ([]*{{ $PublicStructName }}, error) {
	ctx = activerecord.Logger().SetLoggerValueToContext(ctx, map[string]interface{}{"{{ $ind.Selector }}s": keys, "Repo": "{{ $PublicStructName }}" })

	{{ if $ind.Unique -}}
	limiter := activerecord.EmptyLimiter()
	{{ end }}

	packedKeys := [][]any{}

	for _, ik := range keys {
	{{ if ne $lenfld 1 }}
		packedKeys = append(packedKeys, ik.pack())
	{{ else }}
		packedKeys = append(packedKeys, []any{ik})
	{{ end }}
	}

	res, err := selectDB(ctx, index{{ $ind.Name }}, packedKeys, limiter)
	if err != nil {
		return res, err	
	}

	activerecord.Logger().CollectQueries(ctx, {{ $ind.Selector }}MockerLogger(keys, {{ $PublicStructName }}List(res){{ if not $ind.Unique }}, limiter {{ end }}))

	return res, err
}

func {{ $ind.Selector }}(ctx context.Context, key {{ $ind.Type }}{{ if not $ind.Unique }}, limiter activerecord.SelectorLimiter{{ end }}) ({{ if $ind.Unique }}{{ else }}[]{{ end }}*{{ $PublicStructName }}, error) {
	selected, err := {{ $ind.Selector }}s(ctx, []{{ $ind.Type }}{key}{{ if not $ind.Unique }}, limiter{{ end }})
	if err != nil {
		return nil, err
	}

	{{ if $ind.Unique -}}
	if len(selected) > 0 {
		if len(selected) > 1 {
			activerecord.Logger().Error(ctx, "{{ $PublicStructName }}", "More than one tuple for uniq key ID '%s': %d", key, len(selected))
		}

		return selected[0], nil
	}

	return nil, nil
	{{- else }}

	return selected, nil
	{{- end }}
}
{{ end }}

func (obj *{{ $PublicStructName }}) PrimaryString() string {
	ret := []string{
	{{- range $ind, $fstruct := .FieldList }}
		{{- if $fstruct.PrimaryKey }}
			fmt.Sprintf("%v", obj.Get{{ $fstruct.Name }}()),
		{{- end }}
	{{- end }}
	}

	return strings.Join(ret, ", ")
}
