package {{ .ARPkg }}

import (
	"bytes"
	"context"
	"fmt"
	"log"
	"sort"
	"strings"

	"github.com/pkg/errors"

	"github.com/Educentr/go-activerecord/v3/pkg/activerecord"
	arlogger "github.com/Educentr/go-activerecord/v3/pkg/logger" // ToDo drop arlogger 
	"github.com/Educentr/go-activerecord/v3/pkg/postgres"
{{- range $ind, $imp := .Imports }}
	{{ if ne $imp.ImportName "" }}{{ $imp.ImportName }} {{ end }}"{{ $imp.Path }}"
{{- end }}
)

{{ $pkgName := .ARPkg }}
{{ $serializers := .Serializers -}}
{{ $mutators := .Mutators -}}
{{ $PublicStructName := .ARPkgTitle -}}
{{ $LinkedObject := .LinkedObject }}
{{ $flags := .Flags }}
{{ $fields := .FieldList }}
{{ $procfields := .ProcOutFieldList }}
{{ $procInLen := len .ProcInFieldList }}
{{ $mutatorLen := len .Mutators }}

// ToDo возможно эта фёнкция не нужна, добавляет запутанности и дублирования части кода при этом вызывается в одно месте
// надо унести в index.go.tmpl во внутрь функции selectBy...
func selectDB (ctx context.Context, index postgres.Index, keys [][]any, limiter activerecord.SelectorLimiter, cursor postgres.CursorPosition) ([]*{{ $PublicStructName }}, error) {
	logger := activerecord.Logger()
	ctx = logger.SetLoggerValueToContext(ctx, arlogger.ValueLogPrefix{"limiter": limiter.String()})
	metricTimer := activerecord.Metric().Timer("postgres", "{{ $PublicStructName }}")
	metricStatCnt := activerecord.Metric().StatCount("postgres", "{{ $PublicStructName }}")
	metricErrCnt := activerecord.Metric().ErrorCount("postgres", "{{ $PublicStructName }}")

	columnNames := []string{
	{{- range $_, $fstruct := $fields }}
		{{ $packerparam := packerParam $fstruct.Format -}}
		"{{ $fstruct.Name }}",
	{{ end }}
	}

	query, err := postgres.GenerateSelect(tableName, columnNames, index, keys, limiter.Offset(), limiter.Limit(), cursor)
	if err != nil {
		metricErrCnt.Inc(ctx, "select_gen", 1)
		logger.Error(ctx, fmt.Sprintf("Error get db '%s'", err))

		return nil, err
	}

	metricTimer.Timing(ctx, "select_gen")
	metricStatCnt.Inc(ctx, "select_keys", float64(len(keys)))

	return selectRawDB(ctx, query, limiter)
}

func selectRawDB(ctx context.Context, query *postgres.Query, limiter activerecord.SelectorLimiter) ([]*{{ $PublicStructName }}, error) {
	metricTimer := activerecord.Metric().Timer("postgres", "{{ $PublicStructName }}")
	metricStatCnt := activerecord.Metric().StatCount("postgres", "{{ $PublicStructName }}")
	metricErrCnt := activerecord.Metric().ErrorCount("postgres", "{{ $PublicStructName }}")

	logger := activerecord.Logger()
	logger.Debug(ctx, fmt.Sprintf("Select sql: `%s`", query.QueryString))

	connection, err := getConnection(ctx, activerecord.ReplicaOrMasterInstanceType)
	if err != nil {
		metricErrCnt.Inc(ctx, "select_preparedb", 1)
		logger.Error(ctx, fmt.Sprintf("Error get db '%s'", err))

		return nil, err
	}

	rows, errCall := connection.Call(ctx, query.QueryString, query.Params)
	if errCall != nil {
		metricErrCnt.Inc(ctx, "select_db", 1)
		logger.Error(ctx, "Error select from db", errCall, connection.Info(), query.QueryString)

		return nil, errCall
	}
	defer rows.Close()

	metricTimer.Timing(ctx, "select_process")
	metricStatCnt.Inc(ctx, "selected_rows", float64(rows.CommandTag().RowsAffected()))

	nps, err := NewFromDB(ctx, rows)
	if err != nil {
		metricErrCnt.Inc(ctx, "select_preparedb", 1)
		logger.Error(ctx, "Error in response: ", err)

		return nil, err
	}

	metricTimer.Timing(ctx, "select_newobj")

	if limiter.FulfillWarn() && len(nps) == int(limiter.Limit()) {
		logger.Warn(ctx, "Select limit reached. Result may less than db records.")
	}

	mode, ok := connection.InstanceMode().(activerecord.ServerModeType)
	if !ok || activerecord.ServerModeType(mode) == activerecord.ModeReplica {
		if !ok {
			logger.Error(ctx, "Invalid server mode type: %T", connection.InstanceMode())
		}

		for npNum := range nps {
			nps[npNum].IsReplica = true
			nps[npNum].Readonly = true
		}
	}

	logger.Debug(ctx, "Success select")

	metricTimer.Finish(ctx, "select")

	return nps, nil
}

func (obj *{{ $PublicStructName }}) Delete(ctx context.Context) error {
	logger := activerecord.Logger()
	metricTimer := activerecord.Metric().Timer("postgres", "{{ $PublicStructName }}")
	metricStatCnt := activerecord.Metric().StatCount("postgres", "{{ $PublicStructName }}")
	metricErrCnt := activerecord.Metric().ErrorCount("postgres", "{{ $PublicStructName }}")

	metricStatCnt.Inc(ctx, "delete_request", 1)

	if !obj.BaseField.Exists {
		return fmt.Errorf("can't delete not exists object")
	}

	query, err := postgres.GenerateDelete(tableName, pk, [][]any{obj.PrimaryValues()})
	if err != nil {
		metricErrCnt.Inc(ctx, "delete_gen", 1)
		logger.Error(ctx, fmt.Sprintf("Error delete db '%s'", err))

		return err
	}

	logger.Debug(ctx, fmt.Sprintf("Delete sql: `%s`", query.QueryString))

	// ToDo getConnection move to Call and create interface for connectionAction
	connection, err := getConnection(ctx, activerecord.MasterInstanceType)
	if err != nil {
		metricErrCnt.Inc(ctx, "delete_preparedb", 1)
		logger.Error(ctx, "{{ $PublicStructName }}", obj.PrimaryString(), fmt.Sprintf("Error delete db '%s'", err))

		return err
	}

	rows, errCall := connection.Call(ctx, query.QueryString, query.Params)
	if errCall != nil {
		metricErrCnt.Inc(ctx, "delete_db", 1)
		logger.Error(ctx, "{{ $PublicStructName }}", obj.PrimaryString(), "Error delete from db", errCall, connection.Info())

		return errCall
	}
	defer rows.Close()

	metricTimer.Timing(ctx, "delete_db")
	metricStatCnt.Inc(ctx, "deleted_rows", float64(rows.CommandTag().RowsAffected()))

	metricStatCnt.Inc(ctx, "delete_success", 1)

	obj.BaseField.Exists = false
	obj.BaseField.UpdateOps = []postgres.Operation{}
	obj.BaseField.CheckFields = []activerecord.FieldValue{}
	
	logger.Debug(ctx, "{{ $PublicStructName }}", obj.PrimaryString(), "Success delete")

	metricTimer.Finish(ctx, "delete")

	return nil
}

func (obj *{{ $PublicStructName }}) Update(ctx context.Context) error {
	logger := activerecord.Logger()
	metricTimer := activerecord.Metric().Timer("postgres", "{{ $PublicStructName }}")
	metricStatCnt := activerecord.Metric().StatCount("postgres", "{{ $PublicStructName }}")
	metricErrCnt := activerecord.Metric().ErrorCount("postgres", "{{ $PublicStructName }}")

	metricStatCnt.Inc(ctx, "update_request", 1)

	if !obj.BaseField.Exists {
		metricErrCnt.Inc(ctx, "update_notexists", 1)
		return fmt.Errorf("can't update not exists object")
	}

	connection, err := getConnection(ctx, activerecord.MasterInstanceType)
	if err != nil {
		metricErrCnt.Inc(ctx, "update_preparedb", 1)
		logger.Error(ctx, "{{ $PublicStructName }}", obj.PrimaryString(), fmt.Sprintf("Error get db '%s'", err))
		return err
	}

{{if eq $mutatorLen 0}}
	if len(obj.BaseField.UpdateOps) == 0 {
		metricStatCnt.Inc(ctx, "update_empty", 1)
		logger.Debug(ctx, "", obj.PrimaryString(), "Empty update")

		return nil
	}
{{else}}
	return fmt.Errorf("mutator not implemented")
	if len(obj.BaseField.UpdateOps) > 0 {
{{- end }}

	query, err := postgres.GenerateUpdate(tableName, pk, []postgres.UpdateParams{ {PK: obj.PrimaryValues(), Ops:obj.BaseField.UpdateOps} }, obj.BaseField.CheckFields)
	if err != nil {
		metricErrCnt.Inc(ctx, "update_gen", 1)
		logger.Error(ctx, fmt.Sprintf("Error update db '%s'", err))

		return err
	}

	logger.Debug(ctx, fmt.Sprintf("Update sql: `%s`", query.QueryString))

	rows, errCall := connection.Call(ctx, query.QueryString, query.Params)
	if errCall != nil {
		metricErrCnt.Inc(ctx, "update_db", 1)
		logger.Error(ctx, "{{ $PublicStructName }}", obj.PrimaryString(), "Error update db", errCall, connection.Info())

		return errCall
	}
	defer rows.Close()

	for rows.Next() {
/* ToDo update mutator fields
	_, err = octopus.ProcessResp(respBytes, octopus.NeedRespFlag|octopus.UniqRespFlag)
	if err != nil {
		metricErrCnt.Inc(ctx, "update_resp", 1)
		logger.Error(ctx, "{{ $PublicStructName }}", obj.PrimaryString(), "Error parse response: ", err)
		return err
	}
*/
	}

	metricTimer.Timing(ctx, "update_db")
	metricStatCnt.Inc(ctx, "updated_rows", float64(rows.CommandTag().RowsAffected()))
	if rows.CommandTag().RowsAffected() == 0 {
		metricErrCnt.Inc(ctx, "update_not_affected", 1)
		logger.Info(ctx, "{{ $PublicStructName }}", obj.PrimaryString(), "Error update db", "No rows affected", connection.Info())

		return errors.Wrap(activerecord.ErrNoRowsAffected, "{{ $PublicStructName }}: " + obj.PrimaryString())
	}

{{if gt $mutatorLen 0}}
	}
{{end}}
{{if gt $mutatorLen 0}}
/* ToDo custom mutators
{{ range $ind, $fstruct := .FieldList -}}
	{{- range $i, $mut := $fstruct.Mutators -}}
		{{ $customMutator := index $mutators $mut -}}
		{{ $pfLen := len $customMutator.PartialFields }}
		{{ if and (ne $pfLen 0) (ne $customMutator.Update "") $customMutator.Name }}
	for _, op := range obj.{{$customMutator.Name}}.UpdateOps {
		resp, errCall := connection.Call(ctx, octopus.RequestTypeCall, op.Value)
		if errCall != nil {
			metricErrCnt.Inc(ctx, "call_proc", 1)
			logger.Error(ctx, "{{ $PublicStructName }}", obj.PrimaryString(), "Error call proc in a box", errCall, connection.Info())
			return errCall
		}

		_, err := octopus.ProcessResp(resp, 0)
		if err != nil {
			return fmt.Errorf("error unpack lua response: %w", err)
		}
	}

	obj.{{$customMutator.Name}}.UpdateOps = []octopus.Ops{}
	obj.{{$customMutator.Name}}.PartialFields = map[string]any{}
		{{end}}
	{{end}}
{{end}}
*/
{{end}}

	obj.BaseField.UpdateOps = []postgres.Operation{}
	obj.BaseField.CheckFields = []activerecord.FieldValue{}


	logger.Debug(ctx, "{{ $PublicStructName }}", obj.PrimaryString(), "Success update")

	metricStatCnt.Inc(ctx, "update_success", 1)
	metricTimer.Finish(ctx, "update")

	return nil
}

func (obj *{{ $PublicStructName }}) Insert(ctx context.Context) error {
	metricStatCnt := activerecord.Metric().StatCount("postgres", "{{ $PublicStructName }}")
	metricErrCnt := activerecord.Metric().ErrorCount("postgres", "{{ $PublicStructName }}")

	metricStatCnt.Inc(ctx, "insert_request", 1)

	if obj.BaseField.Exists {
		metricErrCnt.Inc(ctx, "insert_exists", 1)
		return fmt.Errorf("can't insert already exists object")
	}

	err := obj.insertReplace(ctx, postgres.NoDuplicateAction, pk)

	if err == nil {
		metricStatCnt.Inc(ctx, "insert_success", 1)
	}

	return err
}

func (obj *{{ $PublicStructName }}) InsertIfNotExist(ctx context.Context) error {
	metricStatCnt := activerecord.Metric().StatCount("postgres", "{{ $PublicStructName }}")
	metricErrCnt := activerecord.Metric().ErrorCount("postgres", "{{ $PublicStructName }}")

	metricStatCnt.Inc(ctx, "insert_request", 1)

	if obj.BaseField.Exists {
		metricErrCnt.Inc(ctx, "insert_exists", 1)
		return fmt.Errorf("can't insert already exists object")
	}

	err := obj.insertReplace(ctx, postgres.IgnoreDuplicate, pk)

	if err == nil {
		metricStatCnt.Inc(ctx, "insert_success", 1)
	}

	return err
}

func (obj *{{ $PublicStructName }}) Replace(ctx context.Context) error {
	// ToDo implement replace for postgres
	return fmt.Errorf("Replace not implemented")
}

func (obj *{{ $PublicStructName }}) InsertOrReplace(ctx context.Context, conflictIndex ...postgres.OnConflictIndex) error {
	metricStatCnt := activerecord.Metric().StatCount("postgres", "{{ $PublicStructName }}")

	metricStatCnt.Inc(ctx, "insertorreplace_request", 1)

	conflictKey := pk

	if len(conflictIndex) > 1 {
		return fmt.Errorf("only one conflict index supported")
	}

	if len(conflictIndex) == 1 {
		conflictKey = onConflictIndexMap[conflictIndex[0]]
	}

	err := obj.insertReplace(ctx, postgres.Replace, conflictKey)
	if err == nil {
		metricStatCnt.Inc(ctx, "insertorreplace_success", 1)
	}

	return err
}

func (obj *{{ $PublicStructName }}) insertReplace(ctx context.Context, insertMode postgres.OnConflictAction, conflictIndex postgres.Index) error {
	var (
		err error
	)

	logger := activerecord.Logger()

	metricTimer := activerecord.Metric().Timer("postgres", "{{ $PublicStructName }}")
	metricErrCnt := activerecord.Metric().ErrorCount("postgres", "{{ $PublicStructName }}")

	values := []any{}
	returning := []string{}

	{{ $scanRequired := ""}}
	{{ range $ind, $fstruct := .FieldList }}
		{{ if $fstruct.InitByDB }}
			if obj.isInited{{$fstruct.Name}} {
		{{ end }}
		values = append(values, obj.Get{{ $fstruct.Name }}())
		{{ if $fstruct.InitByDB }}
		} else {
		values = append(values, postgres.DefaultValueDB)
		returning = append(returning, "{{ $fstruct.Name }}")
		{{ if ne $scanRequired "" }}
			{{ $scanRequired = printf "%s," $scanRequired}}
		{{ end }}
		{{ $scanRequired = printf "%s%s%s" $scanRequired  "&val" $fstruct.Name }}
		}
		var val{{ $fstruct.Name }} {{ $fstruct.Format }}
		{{ end }}
	{{ end }}

	columnNames := []string{
	{{- range $_, $fstruct := $fields }}
		"{{ $fstruct.Name }}",
	{{ end }}
	}

	query, err := postgres.GenerateInsert(tableName, pk, columnNames, [][]any{values}, returning, insertMode, conflictIndex)
	if err != nil {
		metricErrCnt.Inc(ctx, "insert_gen", 1)
		logger.Error(ctx, fmt.Sprintf("Error get db '%s'", err))

		return err
	}

	logger.Debug(ctx, "{{ $PublicStructName }}", obj.PrimaryString(), query.QueryString, query.Params)

	connection, err := getConnection(ctx, activerecord.ReplicaOrMasterInstanceType)
	if err != nil {
		metricErrCnt.Inc(ctx, "insert_preparedb", 1)
		logger.Error(ctx, fmt.Sprintf("Error insert into db '%s'", err))

		return err
	}

	rows, errCall := connection.Call(ctx, query.QueryString, query.Params)
	if errCall != nil {
		metricErrCnt.Inc(ctx, "insert_db", 1)
		logger.Error(ctx, "Error insert into db", query.QueryString, errCall, connection.Info())

		return errCall
	}
	
	if rows.Next() {
		err := rows.Scan({{ $scanRequired }})
		if err != nil {
			return err
		}

		{{ range $ind, $fstruct := .FieldList }}
		{{ if $fstruct.InitByDB }}
			if !obj.isInited{{$fstruct.Name}} {
				obj.Set{{ $fstruct.Name }}(val{{ $fstruct.Name }})
			}
		{{ end }}
	{{ end }}
	}

	rows.Close()

	if rows.Err() != nil {
		metricErrCnt.Inc(ctx, "insert_db", 1)
		logger.Error(ctx, "Error insert into db", query.QueryString, "No rows affected", connection.Info())

		return rows.Err()
	}

	logger.Debug(ctx, "{{ $PublicStructName }}", obj.PrimaryString(), rows.Err())	

	metricTimer.Timing(ctx, "insert_process")

	obj.BaseField.Exists = true
	obj.BaseField.UpdateOps = []postgres.Operation{}
	obj.BaseField.CheckFields = []activerecord.FieldValue{}

	{{- if gt $mutatorLen 0 }}
	obj.ClearMutatorUpdateOpts()
	{{- end }}

	logger.Debug(ctx, "{{ $PublicStructName }}", obj.PrimaryString(), "Success insert")

	metricTimer.Finish(ctx, "insertreplace")

	return nil
}

// BulkInsertReplace performs bulk INSERT ... ON CONFLICT ... DO UPDATE with automatic
// mapping of database-managed fields (InitByDB) back to objects.
//
// The function:
// 1. Executes bulk INSERT with ON CONFLICT DO UPDATE
// 2. Uses RETURNING to get back all InitByDB fields (auto-incremented, generated, etc.)
// 3. Matches returned rows to original objects using conflictIndex (if suitable) or another unique index without InitByDB fields
// 4. Updates objects with the database-managed field values
//
// Matching index selection priority:
// - First: Uses conflictIndex if it's unique and has no InitByDB fields
// - Second: Uses any other unique index without InitByDB fields
// - Returns error if no suitable index exists
//
// Example:
//   objs := []*{{ $PublicStructName }}{obj1, obj2, obj3}
//   err := BulkInsertReplace(ctx, objs, OnConflict{{ (index .Indexes 0).Name }})
func BulkInsertReplace(ctx context.Context, objs []*{{ $PublicStructName }}, conflictIndex postgres.OnConflictIndex) error {
	if len(objs) == 0 {
		return nil
	}

	logger := activerecord.Logger()
	metricTimer := activerecord.Metric().Timer("postgres", "{{ $PublicStructName }}")
	metricStatCnt := activerecord.Metric().StatCount("postgres", "{{ $PublicStructName }}")
	metricErrCnt := activerecord.Metric().ErrorCount("postgres", "{{ $PublicStructName }}")

	metricStatCnt.Inc(ctx, "bulk_insertorreplace_request", 1)

	// Преобразуем OnConflictIndex в postgres.Index
	conflictKey := onConflictIndexMap[conflictIndex]

	// Выбираем индекс для сопоставления результатов
	// Приоритет: conflictIndex (если без InitByDB полей) -> любой другой уникальный индекс без InitByDB
	// Примечание: conflictIndex всегда уникальный (проверяется в GenerateInsert)
	var matchIndex postgres.Index
	var matchIndexName string
	useConflictIndex := false

	// Сначала проверяем conflictIndex - он самый подходящий для сопоставления
	{{ range $num, $ind := .Indexes -}}
	{{ if $ind.Unique }}
	if matchIndexName == "" {
		// Проверяем совпадает ли conflictKey с index{{ $ind.Name }}
		if len(conflictKey.Fields) == len(index{{ $ind.Name }}.Fields) {
			fieldsMatch := true
			for i := range conflictKey.Fields {
				if conflictKey.Fields[i].Field != index{{ $ind.Name }}.Fields[i].Field {
					fieldsMatch = false
					break
				}
			}

			if fieldsMatch {
				// Проверяем есть ли InitByDB поля в этом индексе
				{{ $hasInitByDBFields := false }}
				{{- range $_, $fieldNum := $ind.Fields }}
					{{- $fstruct := index $fields $fieldNum }}
					{{ if $fstruct.InitByDB }}
						{{ $hasInitByDBFields = true }}
					{{ end }}
				{{ end }}
				{{ if not $hasInitByDBFields }}
				matchIndex = index{{ $ind.Name }}
				matchIndexName = "{{ $ind.Name }}"
				useConflictIndex = true
				{{ end }}
			}
		}
	}
	{{ end }}
	{{ end }}

	// Если conflictIndex не подошел, ищем любой другой подходящий индекс
	if matchIndexName == "" {
		{{ range $num, $ind := .Indexes -}}
		{{ if $ind.Unique }}
			{{ $hasInitByDBFields := false }}
			{{- range $_, $fieldNum := $ind.Fields }}
				{{- $fstruct := index $fields $fieldNum }}
				{{ if $fstruct.InitByDB }}
					{{ $hasInitByDBFields = true }}
				{{ end }}
			{{ end }}
			{{ if not $hasInitByDBFields }}
		if matchIndexName == "" {
			matchIndex = index{{ $ind.Name }}
			matchIndexName = "{{ $ind.Name }}"
		}
			{{ end }}
		{{ end }}
		{{ end }}
	}

	if matchIndexName == "" {
		metricErrCnt.Inc(ctx, "bulk_insert_no_match_index", 1)
		return fmt.Errorf("BulkInsertReplace is not available for {{ $PublicStructName }}: no unique index without InitByDB fields found. Please add a unique index on non-auto-generated fields to enable this functionality")
	}

	if useConflictIndex {
		logger.Debug(ctx, "{{ $PublicStructName }}", "BulkInsertReplace", fmt.Sprintf("Using conflictIndex '%s' for matching", matchIndexName))
	} else {
		logger.Debug(ctx, "{{ $PublicStructName }}", "BulkInsertReplace", fmt.Sprintf("Using index '%s' for matching (conflictIndex not suitable)", matchIndexName))
	}

	allValues := [][]any{}

	// Собираем все returning поля: поля управляемые БД + поля для сопоставления
	returningFields := []string{}
	{{ range $ind, $fstruct := $fields }}
	{{ if $fstruct.InitByDB }}
	returningFields = append(returningFields, "{{ $fstruct.Name }}")
	{{ end }}
	{{ end }}

	// Добавляем поля индекса для сопоставления
	for _, field := range matchIndex.Fields {
		{{ $allFieldsCode := "" }}
		{{ range $ind, $fstruct := $fields }}
			{{ if $fstruct.InitByDB }}
				{{ if ne $allFieldsCode "" }}
					{{ $allFieldsCode = printf "%s else " $allFieldsCode }}
				{{ end }}
				{{ $allFieldsCode = printf "%sif field.Field == \"%s\" { /* skip InitByDB field */ }" $allFieldsCode $fstruct.Name }}
			{{ end }}
		{{ end }}
		{{ if ne $allFieldsCode "" }}
		{{ $allFieldsCode }} else {
			returningFields = append(returningFields, field.Field)
		}
		{{ else }}
		returningFields = append(returningFields, field.Field)
		{{ end }}
	}

	// Собираем значения для вставки
	for _, obj := range objs {
		values := []any{}
		{{ range $ind, $fstruct := $fields }}
			{{ if $fstruct.InitByDB }}
		if obj.isInited{{$fstruct.Name}} {
			values = append(values, obj.Get{{ $fstruct.Name }}())
		} else {
			values = append(values, postgres.DefaultValueDB)
		}
			{{ else }}
		values = append(values, obj.Get{{ $fstruct.Name }}())
			{{ end }}
		{{ end }}
		allValues = append(allValues, values)
	}

	columnNames := []string{
	{{- range $_, $fstruct := $fields }}
		"{{ $fstruct.Name }}",
	{{ end }}
	}

	query, err := postgres.GenerateInsert(tableName, pk, columnNames, allValues, returningFields, postgres.Replace, conflictKey)
	if err != nil {
		metricErrCnt.Inc(ctx, "bulk_insert_gen", 1)
		logger.Error(ctx, fmt.Sprintf("Error generate bulk insert '%s'", err))
		return err
	}

	logger.Debug(ctx, "{{ $PublicStructName }}", "BulkInsertReplace", query.QueryString)

	connection, err := getConnection(ctx, activerecord.MasterInstanceType)
	if err != nil {
		metricErrCnt.Inc(ctx, "bulk_insert_preparedb", 1)
		logger.Error(ctx, fmt.Sprintf("Error get db connection '%s'", err))
		return err
	}

	rows, errCall := connection.Call(ctx, query.QueryString, query.Params)
	if errCall != nil {
		metricErrCnt.Inc(ctx, "bulk_insert_db", 1)
		logger.Error(ctx, "Error bulk insert into db", query.QueryString, errCall, connection.Info())
		return errCall
	}
	defer rows.Close()

	metricTimer.Timing(ctx, "bulk_insert_db")

	// Создаем карту для сопоставления результатов с исходными объектами
	objMap := make(map[string]*{{ $PublicStructName }}, len(objs))

	// Функция для генерации ключа из объекта на основе matchIndex
	makeObjKey := func(obj *{{ $PublicStructName }}) string {
		keyParts := make([]any, 0, len(matchIndex.Fields))
		for _, field := range matchIndex.Fields {
			{{ range $ind, $fstruct := $fields }}
			{{ if not $fstruct.InitByDB }}
			if field.Field == "{{ $fstruct.Name }}" {
				keyParts = append(keyParts, obj.Get{{ $fstruct.Name }}())
			}
			{{ end }}
			{{ end }}
		}

		// Создаем строковый ключ
		keyStr := ""
		for i, part := range keyParts {
			if i > 0 {
				keyStr += "|"
			}
			keyStr += fmt.Sprintf("%v", part)
		}
		return keyStr
	}

	for _, obj := range objs {
		key := makeObjKey(obj)
		objMap[key] = obj
	}

	// Обрабатываем результаты RETURNING
	rowNum := 0
	for rows.Next() {
		rowNum++

		// Создаем слайс для Scan - сначала InitByDB поля, потом поля для сопоставления
		scanDest := make([]any, 0, len(returningFields))

		{{ range $ind, $fstruct := $fields }}
		{{ if $fstruct.InitByDB }}
		var val{{ $fstruct.Name }} {{ $fstruct.Format }}
		scanDest = append(scanDest, &val{{ $fstruct.Name }})
		{{ end }}
		{{ end }}

		// Добавляем переменные для полей сопоставления
		matchValues := make(map[string]any)
		for _, field := range matchIndex.Fields {
			{{ range $ind, $fstruct := $fields }}
			{{ if not $fstruct.InitByDB }}
			if field.Field == "{{ $fstruct.Name }}" {
				var matchVal{{ $fstruct.Name }} {{ $fstruct.Format }}
				scanDest = append(scanDest, &matchVal{{ $fstruct.Name }})
				matchValues["{{ $fstruct.Name }}"] = &matchVal{{ $fstruct.Name }}
			}
			{{ end }}
			{{ end }}
		}

		err := rows.Scan(scanDest...)
		if err != nil {
			metricErrCnt.Inc(ctx, "bulk_insert_scan", 1)
			logger.Error(ctx, "Error scan bulk insert result", err)
			return err
		}

		// Создаем ключ для сопоставления из возвращенных значений
		keyParts := make([]any, 0, len(matchIndex.Fields))
		for _, field := range matchIndex.Fields {
			if valPtr, ok := matchValues[field.Field]; ok {
				{{ range $ind, $fstruct := $fields }}
				{{ if not $fstruct.InitByDB }}
				if field.Field == "{{ $fstruct.Name }}" {
					keyParts = append(keyParts, *(valPtr.(*{{ $fstruct.Format }})))
				}
				{{ end }}
				{{ end }}
			}
		}

		keyStr := ""
		for i, part := range keyParts {
			if i > 0 {
				keyStr += "|"
			}
			keyStr += fmt.Sprintf("%v", part)
		}

		obj, ok := objMap[keyStr]
		if !ok {
			metricErrCnt.Inc(ctx, "bulk_insert_match", 1)
			logger.Warn(ctx, "Could not match returning row to original object", "key", keyStr)
			continue
		}

		// Обновляем автоинкрементные поля
		{{ range $ind, $fstruct := $fields }}
		{{ if $fstruct.InitByDB }}
		if !obj.isInited{{$fstruct.Name}} {
			obj.Set{{ $fstruct.Name }}(val{{ $fstruct.Name }})
		}
		{{ end }}
		{{ end }}

		obj.BaseField.Exists = true
		obj.BaseField.UpdateOps = []postgres.Operation{}
		obj.BaseField.CheckFields = []activerecord.FieldValue{}
		{{- if gt $mutatorLen 0 }}
		obj.ClearMutatorUpdateOpts()
		{{- end }}
	}

	if rows.Err() != nil {
		metricErrCnt.Inc(ctx, "bulk_insert_db", 1)
		logger.Error(ctx, "Error bulk insert into db", query.QueryString, rows.Err(), connection.Info())
		return rows.Err()
	}

	metricTimer.Timing(ctx, "bulk_insert_process")
	metricStatCnt.Inc(ctx, "bulk_insertorreplace_success", float64(rowNum))

	logger.Debug(ctx, "{{ $PublicStructName }}", "BulkInsertReplace", fmt.Sprintf("Success bulk insert %d rows", rowNum))

	metricTimer.Finish(ctx, "bulk_insertreplace")

	return nil
}

// BulkUpdate performs bulk update of multiple objects using a single SQL query.
//
// The function:
// 1. Validates all objects exist and have changes
// 2. Generates single UPDATE ... FROM (VALUES ...) query
// 3. Executes the query and returns number of updated rows
//
// Note: Uses UPDATE ... FROM (VALUES ...) for optimal performance.
// All objects are updated in a single database roundtrip.
//
// Limitations:
// - Only OpSet operations are supported (OpAdd, OpAnd, etc. not supported in bulk)
// - All objects must have UpdateOps
//
// Example:
//   objs := []*{{ $PublicStructName }}{obj1, obj2, obj3}
//   updated, err := BulkUpdate(ctx, objs)
//   // updated = number of actually updated rows
func BulkUpdate(ctx context.Context, objs []*{{ $PublicStructName }}) (int, error) {
	if len(objs) == 0 {
		return 0, nil
	}

	logger := activerecord.Logger()
	metricTimer := activerecord.Metric().Timer("postgres", "{{ $PublicStructName }}")
	metricStatCnt := activerecord.Metric().StatCount("postgres", "{{ $PublicStructName }}")
	metricErrCnt := activerecord.Metric().ErrorCount("postgres", "{{ $PublicStructName }}")

	metricStatCnt.Inc(ctx, "bulk_update_request", 1)
	metricStatCnt.Inc(ctx, "bulk_update_objects", float64(len(objs)))

	// Валидация объектов
	validObjs := make([]*{{ $PublicStructName }}, 0, len(objs))
	for i, obj := range objs {
		if !obj.BaseField.Exists {
			metricErrCnt.Inc(ctx, "bulk_update_notexists", 1)
			return 0, fmt.Errorf("object %d: can't update not exists object (PK: %s)", i, obj.PrimaryString())
		}

		{{ if eq $mutatorLen 0 }}
		if len(obj.BaseField.UpdateOps) == 0 {
			metricStatCnt.Inc(ctx, "bulk_update_empty", 1)
			logger.Debug(ctx, "{{ $PublicStructName }}", obj.PrimaryString(), "Empty update in bulk, skipping")
			continue
		}
		{{ else }}
		if len(obj.BaseField.UpdateOps) > 0 {
			metricErrCnt.Inc(ctx, "bulk_update_mutator", 1)
			return 0, fmt.Errorf("mutators not supported in bulk update")
		}
		{{ end }}

		validObjs = append(validObjs, obj)
	}

	if len(validObjs) == 0 {
		logger.Debug(ctx, "{{ $PublicStructName }}", "BulkUpdate", "No objects to update")
		return 0, nil
	}

	// Собираем UpdateParams для всех объектов
	updateParams := make([]postgres.UpdateParams, 0, len(validObjs))
	for _, obj := range validObjs {
		updateParams = append(updateParams, postgres.UpdateParams{
			PK:  obj.PrimaryValues(),
			Ops: obj.BaseField.UpdateOps,
		})
	}

	// Создаём мапу типов полей для VALUES type casting
	fieldTypes := postgres.FieldTypeMap{
	{{- range $ind, $fstruct := $fields }}
		{{ $packerparam := packerParam $fstruct.Format -}}
		{{ $dbtype := $packerparam.DBType -}}
		{{ if ne $dbtype "" -}}
		"{{ $fstruct.Name }}": "{{ $dbtype }}",
		{{ end -}}
	{{ end }}
	}

	// Генерируем bulk UPDATE queries с кластеризацией по полям
	// Примечание: idempotency keys не поддерживаются в bulk update
	clusteredResult, err := postgres.GenerateBulkUpdateClustered(tableName, pk, updateParams, []activerecord.FieldValue{}, fieldTypes)
	if err != nil {
		metricErrCnt.Inc(ctx, "bulk_update_gen", 1)
		logger.Error(ctx, fmt.Sprintf("Error generate bulk update '%s'", err))
		return 0, err
	}

	logger.Debug(ctx, "{{ $PublicStructName }}", "BulkUpdate", fmt.Sprintf("Generated %d clustered queries", len(clusteredResult.Queries)))

	connection, err := getConnection(ctx, activerecord.MasterInstanceType)
	if err != nil {
		metricErrCnt.Inc(ctx, "bulk_update_preparedb", 1)
		logger.Error(ctx, fmt.Sprintf("Error get db connection '%s'", err))
		return 0, err
	}

	{{ $hasFieldsWithMutators := false }}
	{{- range $ind, $fstruct := $fields }}
		{{- if and (not $fstruct.PrimaryKey) (gt (len $fstruct.Mutators) 0) }}
			{{ $hasFieldsWithMutators = true }}
		{{- end }}
	{{- end }}
	{{ if $hasFieldsWithMutators }}
	// Проверяем есть ли мутируемые поля (операции отличные от OpSet)
	hasMutatingOps := false
	mutatingFields := make(map[string]bool)
	for _, obj := range validObjs {
		for _, op := range obj.BaseField.UpdateOps {
			if op.Op != activerecord.OpSet {
				hasMutatingOps = true
				mutatingFields[op.Field] = true
			}
		}
	}

	// Создаём карту объектов по PK для быстрого доступа (если нужно для RETURNING)
	objMap := make(map[string]*{{ $PublicStructName }}, len(validObjs))
	if hasMutatingOps {
		for _, obj := range validObjs {
			pkKey := ""
			for i, pkVal := range obj.PrimaryValues() {
				if i > 0 {
					pkKey += "|"
				}
				pkKey += fmt.Sprintf("%v", pkVal)
			}
			objMap[pkKey] = obj
		}
	}

	// Создаём упорядоченный список мутируемых полей (в алфавитном порядке)
	mutatedFieldsList := make([]string, 0, len(mutatingFields))
	if hasMutatingOps {
		for field := range mutatingFields {
			mutatedFieldsList = append(mutatedFieldsList, field)
		}
		sort.Strings(mutatedFieldsList)
	}
	{{ end }}

	// Выполняем все запросы кластеров
	totalUpdated := 0
	for i, query := range clusteredResult.Queries {
		logger.Debug(ctx, "{{ $PublicStructName }}", "BulkUpdate cluster", i, "fields:", clusteredResult.ClusterFields[i], "size:", clusteredResult.ClusterSizes[i], "query:", query.QueryString)

		rows, errCall := connection.Call(ctx, query.QueryString, query.Params)
		if errCall != nil {
			metricErrCnt.Inc(ctx, "bulk_update_db", 1)
			logger.Error(ctx, "Error bulk update db cluster", i, query.QueryString, errCall, connection.Info())
			return totalUpdated, errCall
		}
		defer rows.Close()

		metricTimer.Timing(ctx, "bulk_update_db")

	{{ if $hasFieldsWithMutators }}
		// Если есть мутируемые поля, читаем RETURNING и обновляем объекты
		if hasMutatingOps {
			for rows.Next() {
				totalUpdated++

				// Создаём слайс для сканирования: сначала PK поля, затем мутируемые поля
				scanDest := make([]any, 0)

				{{ range $ind, $fstruct := $fields }}
				{{ if $fstruct.PrimaryKey }}
				var pk{{ $fstruct.Name }} {{ $fstruct.Format }}
				scanDest = append(scanDest, &pk{{ $fstruct.Name }})
				{{ end }}
				{{ end }}

				// Создаём map для хранения отсканированных значений мутируемых полей
				mutatedValues := make(map[string]any)

				// Добавляем переменные только для мутируемых полей (с мутаторами) в порядке mutatedFieldsList
				for _, fieldName := range mutatedFieldsList {
					{{ range $ind, $fstruct := $fields }}
					{{ if and (not $fstruct.PrimaryKey) (gt (len $fstruct.Mutators) 0) }}
					if fieldName == "{{ $fstruct.Name }}" {
						var mutated{{ $fstruct.Name }} {{ $fstruct.Format }}
						scanDest = append(scanDest, &mutated{{ $fstruct.Name }})
						mutatedValues["{{ $fstruct.Name }}"] = &mutated{{ $fstruct.Name }}
					}
					{{ end }}
					{{ end }}
				}

				err := rows.Scan(scanDest...)
				if err != nil {
					metricErrCnt.Inc(ctx, "bulk_update_scan", 1)
					logger.Error(ctx, "Error scan bulk update result", err)
					return totalUpdated, err
				}

				// Находим соответствующий объект по PK
				pkKey := ""
				{{ $first := true }}
				{{ range $ind, $fstruct := $fields }}
				{{ if $fstruct.PrimaryKey }}
				{{ if not $first }}
				pkKey += "|"
				{{ end }}
				pkKey += fmt.Sprintf("%v", pk{{ $fstruct.Name }})
				{{ $first = false }}
				{{ end }}
				{{ end }}

				obj, ok := objMap[pkKey]
				if !ok {
					metricErrCnt.Inc(ctx, "bulk_update_match", 1)
					logger.Warn(ctx, "Could not match RETURNING row to original object", "key", pkKey)
					continue
				}

				// Обновляем только поля с мутаторами в объекте
				for _, fieldName := range mutatedFieldsList {
					{{ range $ind, $fstruct := $fields }}
					{{ if and (not $fstruct.PrimaryKey) (gt (len $fstruct.Mutators) 0) }}
					if fieldName == "{{ $fstruct.Name }}" {
						if valPtr, exists := mutatedValues["{{ $fstruct.Name }}"]; exists {
							obj.Set{{ $fstruct.Name }}(*(valPtr.(*{{ $fstruct.Format }})))
						}
					}
					{{ end }}
					{{ end }}
				}

				// Очищаем UpdateOps для этого объекта
				obj.BaseField.UpdateOps = []postgres.Operation{}
				obj.BaseField.CheckFields = []activerecord.FieldValue{}
				{{- if gt $mutatorLen 0 }}
				obj.ClearMutatorUpdateOpts()
				{{- end }}
			}

			if rows.Err() != nil {
				metricErrCnt.Inc(ctx, "bulk_update_db", 1)
				logger.Error(ctx, "Error bulk update db cluster", i, query.QueryString, rows.Err(), connection.Info())
				return totalUpdated, rows.Err()
			}
		} else {
	{{ end }}
			// Если нет мутируемых полей, просто считаем обновлённые строки
			totalUpdated += int(rows.CommandTag().RowsAffected())
	{{ if $hasFieldsWithMutators }}
		}
	{{ end }}
	}

	// Очищаем UpdateOps для всех объектов
	for _, obj := range validObjs {
		obj.BaseField.UpdateOps = []postgres.Operation{}
		obj.BaseField.CheckFields = []activerecord.FieldValue{}
		{{- if gt $mutatorLen 0 }}
		obj.ClearMutatorUpdateOpts()
		{{- end }}
	}

	metricStatCnt.Inc(ctx, "bulk_update_success", float64(totalUpdated))

	logger.Debug(ctx, "{{ $PublicStructName }}", "BulkUpdate", fmt.Sprintf("Successfully updated %d objects in %d clusters", totalUpdated, len(clusteredResult.Queries)))

	metricTimer.Finish(ctx, "bulk_update")

	return totalUpdated, nil
}